# Projekt - 12.01.2024
Ważne, aby dane mogły być wczytywane w jasny sposób.
Możemy oddać przetrenowany model z wagami albo taki, że prowadzący u siebie je przetrenuje.
### Wyjście programu
- test modelu na danych od prowadzącego,
- confusion matrix,
- statystyki skuteczności-accuracy, precision, recall (czułość i pozytywne przewidywanie),
- miara F1.

Można to zrobić jedną metodą.
Przepatrzeć dane pod kątem odstawania od dziedziny.
W scikit można znaleźć metodę do obliczania metryk. Jest też confiussion matrix.

Tabela podziału grup.

##  Notes
### One Hot Encoding
Jak mamy dane nienumeryczne, np. nazwy ulic to możemy zamienić je na numeryczne za pomocą one-hot-encoding. W przypadku ulic wyglądać to będzie tak, że musimy mieć zbiór wszystkich unikatowych nazw ulic, a następnie wstawić je do kolumn i gdzie dana ulica występuje wstawić 1, a gdzie nie występuje wstawić 0. Dodatkowo można dać kolumnę z nieznaną ulicą na wypadek dodawania nowych ulic.

## Termin oddania do 26.01.2024. Wysyłać mailem kto pierwszy ten lepszy.

In [49]:
import pandas as pd
df = pd.read_csv('Cardiovascular_Disease_Dataset_mod.csv', sep=';')
df.head()

,patientid,age,gender,chestpain,restingBP,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,103368,53,1,2,171,0,0,1,147,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,119250,40,1,0,94,229,0,1,115,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,119372,49,1,2,133,142,0,0,202,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,132514,43,1,0,138,295,1,1,153,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,146211,31,1,1,199,0,0,1,136,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Oczyszczanie danych

In [50]:
df = df.dropna(axis=1)
print(f'Ilosc kolumn po usunięciu NaN: {len(df.columns)}')

Ilosc kolumn po usunięciu NaN: 13

Cast str to float with comma replacement

In [51]:
df['oldpeak'] = df['oldpeak'].apply(lambda row: float(row.replace(',', '.')))

Sprawdzenie czy dane zgadzają się z dziedziną
serumcholestrol odstaje od dziedziny zdefiniowanej w pdf'ie.

In [55]:
# df[df['serumcholestrol'] < 126]
# df[564 < df['serumcholestrol']]